
{% extends 'cal/base.html' %}
{% block title %}
<p style = "text-align:left; width:10px; float:left"><a href="{% url 'common:main' %}"><img src="../../static/마실가자.png" alt="..." style="width:200px;"></a>
</p>
<p style="font-size: 1em; "><b>동행 일정</b></p>
{% endblock %}

{% block content %}
<div class="clearfix" style = "margin:50px 0px 10px 0px">
	<a class="btn left" href="{% url 'cal:calendar' %}?{{ prev_month }}" style="color:white; background-color:#8FBC8F;"> 이전 달 </a>
	<a class="btn right" href="{% url 'cal:calendar' %}?{{ next_month }}" style="color:white; background-color:#8FBC8F;"> 다음 달 </a>
	<a class="btn right" href="{% url 'cal:event_new' %}" style="color:white; background-color:#8FBC8F;"> 새 일정 </a>
</div>
{{ calendar }}
{% endblock %}
