<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>한양도성길</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<p>
    <a href="{% url 'common:main' %}"><img src="../../static/마실가자.png" alt="..." style="width:200px;"></a>
    <hr>
</p>
<div style=" margin: 150px 0px 0px 410px;">
    <a href="{% url 'course:낙산' %}" >
        <div class="btn btn-lg" style="width:180px; height:80px; margin-right: 40px; background-color:#8FBC8F; color:white;line-height:60px;" >낙산구간</div>
    </a>
    <a href = "{% url 'course:남산' %}">
        <div class="btn btn-lg" style="width:180px; height:80px; margin-right: 40px; background-color:#8FBC8F; color:white;line-height:60px;">남산구간</div>
    </a>
    <a href = "{% url 'course:백악' %}">
        <div class="btn btn-lg" style="width:180px; height:80px; margin-right: 40px; background-color:#8FBC8F; color:white;line-height:60px;">백악구간</div>
    </a>
</div>
<div>
    <a href="{% url 'tema:tema2' %}"><div class="btn btn-secondary btn-lg" style="margin: 0px 0px 0px 1150px">서울둘레길</div></a>
</div>
<div style="margin: 0px 0px 0px 410px;">
    <a href = "{% url 'course:숭례문' %}">
        <div class="btn btn-lg" style="width:180px; height:80px; margin-right: 40px; background-color:#8FBC8F; color:white;line-height:60px;">숭례문구간</div>
    </a>
    <a href = "{% url 'course:인왕산' %}">
        <div class="btn btn-lg" style="width:180px; height:80px; margin-right: 40px; background-color:#8FBC8F; color:white;line-height:60px;">인왕산구간</div>
    </a>
    <a href = "{% url 'course:흥인지문' %}">
        <div class="btn btn-lg" style="width:180px; height:80px; margin-right: 40px; background-color:#8FBC8F; color:white;line-height:60px;">홍인지문구간</div>
    </a>
</div>
<hr style = "margin-top:150px">
    <div style="text-align:center; font-size:12px;">
        <B style = "font-size:16px">CONTACT US&nbsp;&nbsp;&nbsp;</B>
        <i class="bi bi-instagram"></i> Traveler  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="bi bi-telephone-fill"></i> 02-571-0801 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'secret'%}"><i class="bi bi-house-door-fill"></i></a> masil@site.com
    </div>
    <br>
    <p style = "text-align:center">Copyright ⓒ2023 Traveler.&nbsp;All Rights Reserved.</p>
{% endblock %}
</body>
</html>